
@font-face {
    font-family: "Itim";
    src: url("/public/stylesheets/fonts/Itim/Itim-Regular.ttf");
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    src: url("/public/stylesheets/fonts/Noto_Sans/NotoSans-Regular.ttf") format('truetype');
}
body{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    background: #fefefe;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffffff, #fefefe);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffffff, #fefefe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family:'Calibri',sans-serif;
    height:100%
}
div#main{
    height:88%;
    text-align: center;
    margin:0 auto 50px auto;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
div#header{
    height:12%;
    min-height:50px;
    width:100%;
    text-align: center;
    font-size:4vh;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Itim',sans-serif;
    color:#384b65;
    background: #dcd0c0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f8f6f2, #dcd0c0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f8f6f2, #dcd0c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    position: fixed;
    top: 0;
    z-index: 3;
} 
div#footer{
    position: fixed;
    bottom: 0;    
    z-index: 3;
    height:40px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Itim',sans-serif;
    color:#384b65;
    background: #dcd0c0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #dcd0c0, #f8f6f2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #dcd0c0, #f8f6f2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
/* HEART ICON ON THE FOOTER */
#iconCredit{
    width: 15px;
    height: auto;
    vertical-align: middle;
    padding-left:10px;
}
#contactMe{
    width: 17px;
    height: auto;
    vertical-align: middle;
    padding-left:10px;
    position: fixed;
    right:10px;
    bottom: 12px;
}
#iconCredit:hover, #contactMe:hover{
    transform: scale(1.2,1.2);
}
#logo{
    margin: 0;
    padding: 0 10px 0 0;
}
#baby{
    height:9vh;
    min-height: 40px;
    margin:0 0 0 -8vh;
    vertical-align: top;
    padding:0;
} 
#buttonMenu{
    width:35px;
    margin:5px 0 5px 5px;
    border-radius: 5px;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding:5px;
    cursor: pointer;
}
.menu{
    width:50px;
    display:inline-block;
    text-align: right;
    position:absolute;
    right:3vh;
}
#headerTitle{
    margin: 0;
    padding: 0;
}
/* Dropdown Content (Hidden by Default) */
#dropdownMenuContent {
    position: absolute;
    border-radius: 5px;
    top: 9%; 
    right:3vh;
    opacity: 0.7;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 15;
}

/* Links inside the dropdown */
#dropdownMenuContent a {
    color:#384b65;
    font-size:2 0px;
    font-weight: bold;
    font-family: 'Itim',sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
#dropdownMenuContent a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    visibility: visible;
}

.hide {
    visibility: hidden!important;
    height:0!important;
    width:0!important;
}
div#title{
    border: 0;
    text-align: center;
    font-size:30px;
    margin:5px 0 0 0;
    padding:0;
    width:100%;
    color:#584731;
    font-family:'Itim',sans-serif;
}
div#language{
    border: 0;
    text-align: center;
    font-size:5vh;
    margin:0 0 6vh 0;
    padding:0;
    width:100%;
    color:#584731;
    font-family:'Itim',sans-serif;
}
div#expression{
    border: 0;
    text-align: center;
    font-size:27vh;
    font-weight:bold;
    margin:0 auto 0 auto;
    padding:0;
    color:#ffffff;
    display:block;
}
div#number{
    border: 0;
    text-align: center;
    font-size:40vh;
    font-weight:bold;
    margin:0 auto 0 auto;
    padding:0;
    color:#a0a0a0;
    text-shadow: 1vh 1vh 0px rgba(0,0,0,0.2);
    display:block;
}
.chinese{
    font-family:'Noto Sans',sans-serif;
}
div#letter{
    border: 0;
    text-align: center;
    font-size:45vh;
    font-weight:bold;
    margin:0 auto 0 auto;
    padding:0;
    color:#ffffff;
    text-shadow: 1vh 1vh 0px rgba(0,0,0,0.2);
    display:block;
}
#shape, #animal{
    height:40vh;
    min-height:150px;
    max-height:450px;
    margin:5vh auto 0 auto;
    padding:0;
    display:block;
    overflow: hidden
}
#buttonSpeak, #buttonNumberNext, #buttonImageNext, #buttonLetterNext, #buttonAdditionNext, #buttonSubtractionNext{
    width: 100px;
    padding: 10px 25px 10px 25px;
    margin: 0 10px 0 0;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: none;
    color: #202020;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-family:'Itim',sans-serif;
    text-align: center;
}
#buttonAnswer{
    width: 100px;
    padding: 10px 5px 10px 5px;
    margin: 0 10px 0 0;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: none;
    color: #202020;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-family:'Itim',sans-serif;
    text-align: center!important;
}
#buttonsImageNextAndSpeak{
    width:100%;
    display:block;
    margin: 5vh 0 0 0;
}
#buttonsNumNextandSpeak{
    width:100%;
    display:block;
    margin: 0;
}
#buttonsLetNextandSpeak{
    width:100%;
    margin:0;
    display:block;
}
button:hover { 
    background-position: right center; 
}

div#content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    
}
div#iconcredits{
    display:block;
    text-align: center;
    width:100%;
    height:100%;
    margin:40vh 0 0 0;
    padding:0;
    font-size:186x;
}

/* USE A MEDIA QUERY TO ADD A BREAKPOINT AT 756PX*/
@media (max-width:800px){
    body{
        height: auto;
    }
    div#main{
        height: auto;
        padding: 0;
        margin:0;
    }
    #buttonMenu{
        width: 3vh;
        min-width:15px;
        margin: 0;
        padding: 5px;
    }
    .menu{
        right: 3vh;
        width: 4vh;
        min-width:20px;
        margin: 0;
    }
    div#header{
        font-size:25px;
    }
    #dropdownMenuContent {
        top: 8.5%;
        right: 2vh;
        opacity: 0.9;
    }   
    div#content{
        height: 90%;
    }
    div#title{
        font-size: 25px;
    }
    div#iconcredits{
        margin:15vh 0 0 0;
        font-size:16px!important;
    }
    #buttonSpeak, #buttonNumberNext, #buttonImageNext, #buttonLetterNext, #buttonAdditionNext, #buttonSubtractionNext{
        width: 75px;
        padding: 7px 15px 7px 15px;
        margin: 0 10px 0 0;
        font-size: 14px;
    }
    #buttonAnswer{
        width: 75px;
        padding: 7px 3px 7px 3px;
        margin: 0 10px 0 0;
        font-size: 14px;
    }
    #shape{
        height:30vh;
        min-height:75px;
    }
    #animal{
        height:40vh;
        min-height:100px;
    }
    div#expression{
        font-size:12vh!important;
        padding-bottom:25px;
    }
}   